{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Estate guards list:</h1>
  <ul>
    {% for user in users %}
      <p>{{user}}</p>
      <div>
        <a class="btn btn-primary" href="{{ url_for('core.profile', user_id=user.id) }}">Update</a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Delete</button>
        <br>
        <br>
          <div class="modal" tabindex="-1" role="dialog" id="del_modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete Guest</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete user?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                  <form action="{{ url_for('core.deleteUser', user_id=user.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    {% endfor %}
  </ul>


</div>

{% endblock content %}
