{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
  <div align='center'>
    <h1 >Welcome to the page for {{current_user.username}}</h1>
    <img align='center' src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}">
    <br>
    <br>

    <p>NAME: {{current_user.firstname}} {{current_user.lastname}}</p>
    <p>ADDRESS: {{current_user.flatnumber}}, number {{current_user.housenumber}}, {{current_user.streetname}}</p>
    <p>PHONE: +234{{ current_user.telephone }}</p>
    <br>
    <br>

    <div class="container">
      <form  method="POST" action = "" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="col-auto my-1">
          <div class="form-group col-md-4">
            {{ form.picture.label(class="form-group") }}
            {{ form.picture(class="form-control-file") }}
          </div>
        </div>

        <div class="col-auto my-1">
          <div class="form-group col-md-4">
            {{form.telephone(class='form-control', placeholder="Telephone")  }}
          </div>
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
