{% extends "layout.html" %}
{% block content %}
<form action="" method="POST">

  <div class="jumbotron">
    <div align='center'>
      <h1 >Welcome to the service request page for {{current_user.username}}</h1>


      <div class="container">
        <form  method="POST" action = "" enctype="multipart/form-data">
          {{ form.hidden_tag() }}

          <div class="col-auto my-1">
            <div class="form-group col-md-4">
            {{form.service_requested(class='form-control')  }}
            </div>
          </div>

          <div class="col-auto my-1">
            <div class="form-group col-md-4">
              {{form.request_date(class='form-control')  }}
            </div>
          </div>

          <div class="form-group">
              {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>

</form>

{% endblock content %}
