{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>User Profile:</h1>
  <table border="2" cellspacing="0" cellpadding="10" width="" align="center" bgcolor="">
    <tr align="center">
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Username</th>
      <th>Flat Number</th>
      <th>House Number</th>
      <th>Street Name</th>
      <th>Gender</th>
      <th>Phone Number</th>
    </tr>

    {% for user in user %}
    <tr align="center" >
      <td>{{user.id}}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.username}}</td>
      <td>{{user.flatnumber}}</td>
      <td>{{user.housenumber}}</td>
      <td>{{user.streetname}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.telephone}}</td>
    </tr>

  {% endfor %}

  </table>

</div>

{% endblock content %}
